body {
background-color: #f0e6ff;
font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;}

.carta-container {
display: flex;
align-items: flex-start;
background-color: #a786d381;
padding: 20px;
border-radius: 10px;
max-width: 800px;
margin: 40px auto;
box-shadow: 0px 0px  25px rgba(0,0,0,0.5);

}

.foto {
width: 150px;
float: left;
margin-right: 15px;
border-radius: 10px;
box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
margin-top: 20px;

}
.texto-contenido{
max-width: 600px;
text-align: center;
}
.texto-contenido p {
text-align: justify;
}
.carta-container input{
    background-color: black;
    color: #ffffff;
    width: 200px;
    height: 25px;
    border: none;
    border-radius: 5px;
    float: right;
    margin-top: 10px;
    text-align: center;
    font-size: 11px;
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.carta-container input:hover{
    background-color: #2c0449;
    cursor: pointer;
}
.carta-container h1 {
font-size: 35px;
margin-bottom: 10px;
color: #000000;
text-shadow: #2c0449 2px 2px 4px;
}
.carta-container h3 {
font-size: 22px;    
margin-bottom: 10px;
color: #6a0dad;
}
.carta-container p {
font-size: 16px;
line-height: 1.5;
color: #333333;
text-shadow: #8682b8 2px 2px 4px;
}
